*{
  margin:0;
  padding: 0;
}
img{
  max-width: 100%;
}
.clearfix{
  clear: both;
}


header{
  background: #fff;
  padding: 1rem 0;
  width: 100%;
  overflow-x: hidden;
}

.page-menu{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.page-menu a{
  color: #ff6138;
  font-size: 16pt;
}
.page-menu a:hover{
  transition: 1s ease;
  color: #333;
}


.page-main{
  background: #eee;
  padding-top: 5%;

}
.page-blog-heading{
  color: #262626;
  font-size: bolder;
}
.page-main a{
  color: #000;
  text-decoration: none;
}
.blog-box{
  box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
  cursor: pointer;
}
.blog-box:hover{
  transition: 0.5s ease;
  margin-top:-10px;
}
.blog-box .blog-content{
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  background: #fff;
}
.blog-box .blog-date{
  padding-top: 2%;
  color: #616362;
}


.blog-box img{
  height: 15rem;
  width: 100%;
}

.blog-content-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}
.blog-content-box{
  background-color: #fff;
  padding: 0.7rem 1.7rem;
}
.blog-content-sidebar{

}
.__recent{
  background: #fff;
  padding: 0.7rem 1rem;
}
.__blogheading{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.__recentposts_heading{
  font-size: 1.2em;
  font-weight: 500;
}
.__recentpost_list{
  list-style: none;
}
.__recentpost_list li a{
  color: #2fcff2;
  text-decoration: none;
}
.__recentpost_list li{
  padding: 0.3rem 0;
}
.btn-recentpostreadmore{
  background: #2fcff2;
}

.__blogdate{
  color: #bababa;
}
.__blogcontent{
  font-size: 18px;
  line-height: 1.6;
}
