/*======================Google Fonts===========================*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@font-face {
  font-family: comicBold;
  src: url(../lib/fonts/comicBold.ttf);
}
/*======================Google Fonts Ends===========================*/


/*======================CSS Reset===========================*/
*{
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
.clearfix{
  clear: both;
}


/*======================CSS Reset ends===========================*/

/*======================Hamburger Menu Icon css===========================*/
.menu-icon{
  position: fixed;
  top: 5%;
  right: 4%;
  z-index: 1;

}
/*==================Hamburger Menu*/
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #211B1B;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #211B1B;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #FF7D8A;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;

  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #FF7D8A;
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}
/*HamBurger Menu*/
/*======================Hamburger Menu Icon css ends=======================*/


/*====================== Menu  css =======================*/
.menu{
  height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}
#main{
  transition: margin-right .5s;
}
.showMenu-support2{
  margin-right: 250px;
}
.opc {
  opacity: 0.7;
}
.showMenu-support1{
  z-index: 999;
}
.showMenu{
  width: 250px;
}
.menu ul{
  list-style: none;
  margin-top:2rem;
  margin-left: 2rem;
}
.menu a{
  transition: 0.5s ease;
  color: #B6B3B2;
  font-family: 'Work Sans', sans-serif;
  font-size: 15pt;
}
.menu a:hover{
  color: #ffffff;
}
/*====================== Menu  css ends =======================*/


/*======================Banner css=======================*/

.banner{
  background-color: #ededed;
    background-image: linear-gradient(145deg,rgba(255,97,56,.75),rgba(0,186,235,.75)),url(https://explore.holiday/wp-content/uploads/2019/02/Swayambhunath-Temple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: ellipse(81% 86% at 50% 14%);
    clip-path: ellipse(81% 86% at 50% 14%);
    max-width: 100vw;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.banner .banner-content-box{
  position: relative;
  top: 45%;
  left: 10%;
}
.banner .banner-content-box h2{
  color: #fff;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 800;
  font-family: comicBold;
}
.banner ul{
  list-style: none;
}
.banner ul>li{
  display: inline-flex;
  padding-left: 0.8rem;
}
.banner li:first-child{
  padding-left: 0.5rem;
}
.banner ul>li>a{
  color: #fff;
  font-size: 1.2rem;
  transition: 1s ease-out;
}
.banner ul>li>a:hover {
  color: rgba(0,186,235,.75);

}
/*======================Banner css ends=======================*/



/*======================aboutme css =======================*/

.aboutme{
  background: #ededed;
  margin-top: -121px;
  padding: 12rem 0rem 3rem 0rem;
}

.aboutme-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.aboutme img {
  max-width: 100%;
  box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
}
.about-content {
  height: 100%;
  text-align: left;
  padding-top: 18%;
}
.aboutme .about-content h3{
  color: #ff6138;
  font-family: comicBold;
}
.aboutme .btn-aboutme{
  border-color: #ff6138;
  color: #ff6138;
  transition: 1s ease;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
}
.aboutme .btn-aboutme:hover {
  background: #ff6138;
  color: #fff;
}
/*======================aboutme css ends=======================*/

/*======================skills css =======================*/
.skills{
  background: #ededed;
  padding: 1rem 0 2rem 0;
}

.skill{
  background: #ff6138;

  color: #fff;
  padding: 2rem 0;
  cursor:pointer;
  transition: 1s ease;
}
.skill i{
  font-size: 3rem;
}
.skill:hover{
  background: #00baeb;

}
/*======================skills css ends=======================*/


/*======================work css =======================*/
.work{
  margin: 1rem 0;
  padding: 2rem 0;
  background: #fff;
}
.work h3{
  color: #79bc90;
  font-weight: bold;
  font-family: comicBold;
}
.work .btn-workmore{
  border-color: #79bc90;
  background-color: transparent;
  color: #79bc90;
}

.work .work-box img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.work-box h5,
.work-box p{
  color: #333;
}
.work .work-box .work-box-content{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.work-box:hover img {
  opacity: 0.3;
}
.work-box:hover .work-box-content {
  opacity: 1;
}
/*======================work css ends=======================*/


/*======================blog css=======================*/
.blog{
  background: #ededed;
  margin-top: 1rem;
  padding: 3rem 0;
}
.blog h3{
  color: #00b9e7;
  font-weight: bold;
  font-family: comicBold;
}
.blog .blog-d{
  margin-top: 0.5rem;
}
.blog .btn-blogmore{
  border-color: #00b9e7;
  color: #00b9e7;
}
.blog .blog-box{
  box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 11px 60px -25px rgba(0,0,0,.4);
  cursor: pointer;
}
.blog .blog-box:hover{
  transition: 0.5s ease;
  margin-top:-10px;
}
.blog .blog-box .blog-content{
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  background: #fff;
}
.blog .blog-box .blog-date{
  margin-top: 2%;
  color: #616362;
}
.blog .blog-box a{
  color: #1a2d3c;
  text-decoration: none;
}
.blog .blog-box img{
  height: 10rem;
  width: 100%;
}
/*======================blog css ends=======================*/



/*======================contact css=======================*/
.contact{
  padding: 2rem 0;
}
.contact h3{
  color: #ff6138;
  font-family: comicBold;
}
.contact form h5{
  font-family: comicBold;
  color: #00b9e7;
  font-weight: bold;
}
.contact form input[type="submit"]{
  border-color:#00b9e7;
  background: transparent;
  color: #00b9e7;
}
.contact form input,
.contact form textarea{
  border-color: #00b9e7;
}
/*======================contact css ends=======================*/



/*======================footer css=======================*/

footer{
  background:#ff6138;
  padding: 3rem 0;
}
footer .footer-social{
  list-style: none;
}
footer .footer-social li{
  display: inline-flex;
  padding-left: 0.5rem;
}
footer .footer-social li:first-child{
  padding-left: 0;
}
footer .footer-social li>a{
  color: #fff;
  transition: 1s ease-out;
  font-size: 1.5rem;
}
footer .footer-social li>a:hover {
  color: rgba(0,186,235,.75);
}
.footer-credit a {
  text-decoration: none;
}
/*======================footer css ends=======================*/

.gototopBtn {
  opacity: 0;
  position: fixed;
  bottom: 5%;
  right: 4%;
  z-index: 1;
  background: #ff6138;
  border: none;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}
